.model {
  position: fixed;
  top: 0;
  border: 3px rgb(34, 255, 0) solid;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  /* margin-left: 50%; */
  display: flex;
  justify-content: end;
}

label {
  font-family: sans-serif;
}

.model-container {
  background-color: white;
  top: 0%;
  width: 30%;
}
.model-nav {
  background-color: #0fa3b1;
  padding: 1.5%;
}

.model-nav p {
  padding: 1.5%;
  color: white;
  font-size: 20px;
}

.container {
  padding: 3rem;
}

.text {
  margin: 4% 0 4% 0;
  font-size: medium;
  width: 95%;
}


.dropdown {
  margin: 0.5rem 0 0.5rem 0;
  border: 2px #ccc solid;
  padding: 12px 28px 12px 12px;
  border-radius: 4px;
  width: 80%;
}

span {
  font-size: xx-small;
  padding: 10px;
  margin-left: 5px;
  background-color: #dff1fc;
  border-radius: 5px;
}

#addBtn {
  border: none;
  left: 0;
  background-color: transparent;
  text-decoration: underline;
  color: #52b788;
}

#addBtn:hover {
  color: #5ce3a4;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #ededed;
  display: flex;
  width: 40%;
}

#save-btn {
  background-color: #52b788;
  font-size: medium;
  margin-left: 3%;
  padding: 2.5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cancel-btn {
  background-color: white;
  font-size: medium;
  color: red;
  margin-left: 0;
  padding: 2.5%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cancel-btn:hover {
  background-color: rgb(236, 236, 236);
}
